<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.common.mapper.ArticleMapper">


    <select id="hotArticleList" resultType="com.xupt.common.entity.Article">
        select * from blog_article where status = 0 order by view_count desc ;
    </select>
</mapper>

